body{
  margin: 0;
}

.nabla-f{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}